<link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
<div class="background">
    <div class="cube"></div>
    <div class="cube"></div>
    <div class="cube"></div>
    <div class="cube"></div>
    <div class="cube"></div>
    <div class="container my-5">
        <h2 class="display-4 mt-3 text-center text-white">Our Team Members</h2>
        <div class="row mb-3">
            <div class="col-md-4">
                <div class="team-card">
                    <div class="card-body">
                        <img src="/Assets/images/image4.jpg" class="team-member-img img-responsive w-100">
                        <h3 class="member-name">Angel Ayra Carino
                        </h3>
                        <p class="member-desc">Project Manager </p>
                        <p class="member-desc">acarino3@my.centennialcollege.ca
                            <a href="mailto:acarino3@my.centennialcollege.ca">Contact me</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="team-card">
                    <div class="card-body">
                        <img src="/Assets/images/image3.jpeg" class="team-member-img img-responsive w-100">
                        <h3 class="member-name">Jenyll Mabborang
                        </h3>
                        <p class="member-desc">Lead Software Engineer
                        </p>
                        <p class="member-desc">jmabbora@my.centennialcollege.ca
                            <a href="mailto:jmabbora@my.centennialcollege.ca">Contact me</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="team-card">
                    <div class="card-body">
                        <img src="/Assets/images/image5.jpeg" class="team-member-img img-responsive w-100">
                        <h3 class="member-name">Damanpreet Singh
                        </h3>
                        <p class="member-desc">Database Programmer
                        </p>
                        <p class="member-desc">dsing548@my.centennialcollege.ca
                            <a href="mailto:dsing548@my.centennialcollege.ca">Contact me</a>
                        </p>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="team-card">
                    <div class="card-body">
                        <img src="/Assets/images/image6.png" class="team-member-img img-responsive w-100">
                        <h3 class="member-name">PaoHung Lin
                        </h3>
                        <p class="member-desc">Technical Artist
                        </p>
                        <p class="member-desc">plin21@my.centennialcollege.ca
                            <a href="mailto:plin21@my.centennialcollege.ca">Contact me</a>
                        </p>
                    </div>
                </div>
            </div>
            
            <div class="col-md-4">
                <div class="team-card">
                    <div class="card-body">
                        <img src="/Assets/images/image2.jpg" class="team-member-img img-responsive w-100">
                        <h3 class="member-name">Jane Kristel Solema
                        </h3>
                        <p class="member-desc">Security Programmer
                        </p>
                        <p class="member-desc">jsolema@my.centennialcollege.ca
                            <a href="mailto:jsolema@my.centennialcollege.ca">Contact me</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="team-card">
                    <div class="card-body">
                        <img src="/Assets/images/image7.jpg" class="team-member-img img-responsive w-100">
                        <h3 class="member-name">Ala’a Al-khdour
                        </h3>
                        <p class="member-desc">Generalist Programmer </p>
                        <p class="member-desc">aalkhdou@my.centennialcollege.ca
                            <a href="mailto:aalkhdou@my.centennialcollege.ca">Contact me</a>
                        </p>
                    </div>
                </div>
            </div>

            <div id="google-maps">
                <br><br>
              <div class="mapouter text-center">
                <div class="map-responsive">
                    <iframe 
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d8147.540268526599!2d-79.23937333829352!3d43.7813588996647!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89d4d0f21fd9078f%3A0x46e3fe92c0cd2b18!2sCentennial%20College%20(Progress%20Campus)!5e0!3m2!1sen!2sca!4v1660551932826!5m2!1sen!2sca" 
                    width="1290" 
                    height="500" 
                    style="border:0;" 
                    allowfullscreen="" 
                    loading="lazy">
                    </iframe>
                </div>
              </div>
            </div>

            <div class="text-center text-white">
                                <br>
                <i class="fa-solid fa-location-dot" style="color:rgb(201, 34, 34);"></i>
                941 Progress Avenue, Scarborough, Ontario, M1G 3T8, Canada
                
            </div>
              

        </div>
    </div>
</div>