<link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
<!-- Background & animion & navbar & title -->
  <div class="container-fluid">
    <div class="background">
      <div class="cube"></div>
      <div class="cube"></div>
      <div class="cube"></div>
      <div class="cube"></div>
     <div class="cube"></div>
    
    <!--content -->
          <section class="header-content">

             <h1>Welcome to <b><i><font color="9acd32">CEN</font>Tech</i> Survey Site</b> </h1>
             <br>
             <br>
                         <a href="/api/register"><button>Get Started</button></a>
                         <a href="/api/survey-list"><button>List of Surveys</button></a>
                <p> 
                  <br>
                </p>
                <div class="container h1">
                      <div class="center">
                        We are a dedicated group of people, who create free survey to cater your research needs and make your life easier.</div>
                <br>
                      <div class="center">Create your survey with us. </div>
                <br>
                      <div class="center">Help others by answering their survey!</div>
                  <br>
                </div>


            
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
                <!-- Background animtion-->

          </section>
 </div>